/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.local
.env*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
.DS_Store
BUT0_BUT040323MY1
*.zip
*.Log
*.xml
*.json
*.csv
.idea
composer.lock